### 24th

## Conditional Statement

In [3]:
if True:
    print("Data Science")

Data Science

In [4]:
if True:
   print("DS")

DS

In [5]:
if False:
    print("Data Science")
    print("bye for now")

In [6]:
if True:
    print("Data Science")
    print("bye for now")

Data Science
bye for now

In [7]:
if False:
    print("Data Science")
else:
    print("bye for now")

bye for now

In [8]:
#Code-1 Number is Even or Odd
x = 4
r = x%2
r==0
print('Even number')

Even number

In [9]:
#Code-1 Number is Even or Odd
x = 4
r = x%2
if r == 0:
    print('Even number')
else:
    print('Odd number')

Even number

In [10]:
#Code-1 Number is Even or Odd
x = 5
r = x%2
if r==0:
    print('Even number')
else:
    print('Odd number')

Odd number

In [11]:
#Code-1 Number is Even or Odd
x = 16
r = x%2
if r==0:
    print('Even number')
else:
    print('Odd number')

Even number

In [12]:
x = 8
r = x%2
if r == 0:
    print('Even number')
if r == 1:
      print('Odd number')

Even number

In [13]:
x = 9
r = x%2
if r == 0:
    print('Even number')
if r == 1:
      print('Odd number')

Odd number

In [14]:
x = 17
r = x%2
if r==0:
    print('Even nuber')
if r!=0:
    print('Odd number')

Odd number

In [15]:
x = 3
r = x%2
if r==0:
    print('Even number')
if x>5:
    print('Greater number')
else:
    print('Odd number')

Odd number

In [16]:
x = 4
r = x%2
if r == 0:
    print('Even number')
if x>5:
    print('Greater number')
else:
   print('Odd number')

Even number
Odd number

In [17]:
x = 8
r = x%2
if r == 0:
    print('Even number')
if x>5:
    print('Greater number')
else:
   print('Odd number')

Even number
Greater number

In [18]:
x = 4
r = x%2
if r == 0:
    print('Even number')
if x>5:
    print('Greater number')
else:
   print('Smaller number')

Even number
Smaller number

In [19]:
x = 3
r = x%2
if r == 0:
    print('Even number')
else:
    print('Odd number')
if x>5:
    print('Greater number')
else:
   print('Smaller number')

Odd number
Smaller number

In [20]:
x = 1
if x == 1:
    print('One')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('Four')

One

In [21]:
x = 4
if x == 1:
    print('One')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('Four')

Four

In [22]:
x = 6
if x == 1:
    print('One')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('Four')

In [23]:
x = 6
if x == 1:
    print('One')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('Four')
else:
    print('Number not found')

Number not found

In [24]:
x = 3
if x == 1:
    print('One')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('Four')

Three

In [25]:
x = 4
if x == 1:
    print('One')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('Four')
else:
    print('Number not found')

Four

In [26]:
x = 10

if x % 2 == 0:
    print("Even number")
    if x > 5:
        print("Greater than 5")
else:
    print("Odd number")

Even number
Greater than 5

## LOOPS

In [28]:
i = 1
while i<=5:                  # Condition
    print('Data Science')
    i = i+1                  # Increment

Data Science
Data Science
Data Science
Data Science
Data Science

In [29]:
i = 1
while i<=5:                  # Condition
    print('Data Science: ', i)
    i = i+1                  # Increment

Data Science:  1
Data Science:  2
Data Science:  3
Data Science:  4
Data Science:  5

In [30]:
i = 5
while i>=1:                  # Condition
    print('Data Science:', i)
    i = i-1                  # decrement

Data Science: 5
Data Science: 4
Data Science: 3
Data Science: 2
Data Science: 1

In [31]:
i = 1
while i<=4:
    print('DS')
    j = 1
    while j<=4:
        print('TS')
        j = j+1
    i = i+1
    print()

DS
TS
TS
TS
TS

DS
TS
TS
TS
TS

DS
TS
TS
TS
TS

DS
TS
TS
TS
TS

In [32]:
i = 1
while i<=5:
    print('DS')
    j = 1
    while j<=4:
        print('TS')
        j = j+1
    i = i+1
    print()

DS
TS
TS
TS
TS

DS
TS
TS
TS
TS

DS
TS
TS
TS
TS

DS
TS
TS
TS
TS

DS
TS
TS
TS
TS

In [33]:
i = 1
while i<=5:
    print(' Data Science', end =  "")    # when we mention end then new line will not creat
    j = 1
    while j<=4:
        print('  Technology', end =  "")
        j = j+1
    i = i+1
    print()

 Data Science  Technology  Technology  Technology  Technology
 Data Science  Technology  Technology  Technology  Technology
 Data Science  Technology  Technology  Technology  Technology
 Data Science  Technology  Technology  Technology  Technology
 Data Science  Technology  Technology  Technology  Technology

In [34]:
i = 1
while i<=5:
    print(' Data Science', end =  "")    # when we mention end then new line will not creat
    j = 1
    while j<=4:
        print('  Technology', end =  "")
        j = j+1
    i = i+1
    print()

 Data Science  Technology  Technology  Technology  Technology
 Data Science  Technology  Technology  Technology  Technology
 Data Science  Technology  Technology  Technology  Technology
 Data Science  Technology  Technology  Technology  Technology
 Data Science  Technology  Technology  Technology  Technology

In [1]:
i = 1
while i <=2:
    j = 0
    while j<=2:
        print(i*j, end = '')
        j +=1
        
    print()
    i +=1

012
024

In [3]:
i = 1
while i <=4:
    j = 0
    while j<=3:
        print(i*j, end = '')
        j +=1
        
    print()
    i +=1

0123
0246
0369
04812

#### for loop

In [6]:
name = 'nit'
for i in name:
    print(i)

n
i
t

In [8]:
name1 = [1, 2, 3, 4, 'hello']
for i in name1:
    print(i)

1
2
3
4
hello

In [14]:
for i in [1, 1.6, 1.7, 'hi']:
    print(i)

1
1.6
1.7
hi

In [18]:
for i in range(2,5):
    print(i)

2
3
4

In [20]:
# Print the value which is divisible by 5
for i in range(1,51):
    if i%5 == 0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [26]:
for i in range(1,51):
    if i%5!=0:
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

In [32]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [34]:
for i in range(1,11):
    if i ==6:
        break
    print(i)

1
2
3
4
5

In [36]:
for i in range(1,20):
    if i ==8:
        break
    print(i)

1
2
3
4
5
6
7

In [38]:
for i in range(1,10):
    if i ==8:
        continue
    print(i)

1
2
3
4
5
6
7
9

In [42]:
for i in range(1,10):
    if i ==8:
        continue
    print('hello:', i)

hello: 1
hello: 2
hello: 3
hello: 4
hello: 5
hello: 6
hello: 7
hello: 9

In [44]:
for i in range(1,10):

SyntaxError: incomplete input (1468085492.py, line 1)

In [48]:
for i in range(1,10):
    pass

In [64]:
for i in range(1,51):
    if i%3 == 0:
     print(i)

print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [77]:
for i in range(1,51):
    if i%3 == 0:
       continue
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50

In [79]:
for i in range(1,51):
    if i%5 == 0:
       continue
    print(i)

print('end')

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49
end

In [81]:
for i in range(1,51):
    if i%3 == 0 or i%5 == 0:
       continue
    print(i)

# it will skip all value which is divisible by 3 or 5

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [85]:
for i in range(1,20):
    if i%3 == 0 and i%5 == 0:
       continue
    print(i)

print('end')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
end

In [89]:
for i in range(1,51):
    if i%2==0:
        continue
    else:
        print(i)

print('hi')
       
 # i dont want to print the values which are even numbers that means print only odd numbers

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
hi

### Printing Pattern In Python

In [92]:
print('# # # #')
print('# # # #')
print('# # # #')
print('# # # #')
print('# # # #')

# # # #
# # # #
# # # #
# # # #
# # # #

In [94]:
for i in range(1,5):
    i = i+1
    print('* * * *')

* * * *
* * * *
* * * *
* * * *

In [96]:
for i in range(1,5):
    i = i+1
    print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [98]:
for i in range(1,6):
    if i<=5:
        print('# # # #')

# # # #
# # # #
# # # #
# # # #
# # # #

In [100]:
for j in range(4):
    print('#')

#
#
#
#

In [104]:
for j in range(4):
    print(' #:', end = '')

 #: #: #: #:

In [106]:
for j in range(2):
    print('#')
for j in range(2):
    print('#')

#
#
#
#

In [108]:
for j in range(2):
    print('#')

print()   #space creat

for j in range(2):
    print('#')

#
#

#
#

In [112]:
for j in range(4):
    print(' #:', end = '')

for j in range(4):
    print(' *:', end = '')

 #: #: #: #: *: *: *: *:

In [114]:
for j in range(4):
    print(' #:', end = '')

print()

for j in range(4):
    print(' *:', end = '')

 #: #: #: #:
 *: *: *: *:

In [116]:
for j in range(4):
    print(' #', end = '')

print()

for j in range(4):
    print(' *', end = '')

 # # # #
 * * * *

In [130]:
for i in range(4):
    for j in range(i+1):
        print('#', end = ' ')
    print()

#
# #
# # #
# # # #

In [136]:
for i in range(4):
    for j in range(4-i):
        print('#', end = ' ')
    print()

# # # #
# # #
# #
#

In [138]:
for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

print()

for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

#  #  #  #
#  #  #  #
#  #  #  #
#  #  #  #

In [140]:
for i in range(1,5):
    print("# "*i)

#
# #
# # #
# # # #

In [142]:
list(range(5))

[0, 1, 2, 3, 4]

In [144]:
nums = [12, 15, 18, 21, 25]

for num in nums:
    if num%5 == 0:
        print(num)

15
25

In [146]:
nums = [12, 15, 18, 21, 25, 30, 3]

for num in nums:
    if num%5 == 0:
        print(num)

15
25
30

In [148]:
nums = [12, 15, 18, 21, 25, 30, 3]

for num in nums:
    if num%5 == 0:
        print(num)
        break

15

In [152]:
nums = [10,14,18,21,10]

for num in nums:
    if num%5 == 0:
        print(num)
        break   # it will print only one number then it break

10

In [154]:
nums = [7,14,18,21,23,27]

for num in nums:
    if num%5 == 0:
        print(num)
        break     # there is no number which is divisible by 5. we got output as blank

In [156]:
nums = [7,14,18,21,23,27]

for num in nums:
    if num%5 == 0:
        print(num)
        break 
else:
    print('Number is not found')

Number is not found

In [163]:
nums = [7,14,18,21,23,27]

for num in nums:
    if num%5 == 0:
        print(num)
        break 
    else:
        print('Number is not found') # every iteration checking condition

Number is not found
Number is not found
Number is not found
Number is not found
Number is not found
Number is not found

In [169]:
nums = [12, 15, 18, 21, 25, 30, 3]

for num in nums:
    if num%5 == 0:
        print(num)
        #break

15
25
30

##### Prime number - 7, 13, 19

In [175]:
# how to check given number is prime number or not
num = 12
for i in range(2, num):
    if num % i == 0:
        print('Not prime number')
        break
else:
    print('Prime Number')

Not prime number

In [177]:
# how to check given number is prime number or not
num = 15
for i in range(2, num):
    if num % i == 0:
        print('Not prime number')
        break
else:
    print('Prime Number')

Not prime number