## Variable_Name = Value

#### Integer Variable

In [3]:
age = 25
age

25

In [5]:
age = 12
print(age)

12

In [7]:
abc = 80      # abc is variable store the int value 80
print(abc)

80

In [9]:
ABC = 66
print(ABC)

66

### String Variable

In [13]:
name = "ALICE"  # name is variable store the string value
name

'ALICE'

In [17]:
name = "Mohan"
print(name)

Mohan

In [21]:
klmi = "Hanuman"
print(klmi)

Hanuman

### Float Variable

In [24]:
price = 20.89   # price is variable store the float value
print(price)

20.89

In [26]:
price = 100.65
price

100.65

### Boolean Variable

In [29]:
is_active = True  # is_active is variable store the boolean 
print(is_active)

True

In [31]:
this_active = False
print(this_active)

False

### Storing and printing a value

In [34]:
X = 10
print(X)

10

In [36]:
y = 20
y

20

In [38]:
c = 19.20
print(c)

19.2

### Using Variable in Expression

In [41]:
a = 10
b = 20
Result = a+b
print(Result)

30

In [43]:
c = 40
d = 30
result = c-d
print(result)

10

### Changing the value a Variable

In [46]:
score = 50
print(score)

50

In [48]:
score = 100   # change the value of variable, (change the value of score)
print(score)

100

In [50]:
bcb = 40
bcb

40

In [52]:
bcb = 70
print(bcb)

70

### Concanating Strings

In [55]:
first_name = "John"  
last_name = "Doe"
full_name = first_name + last_name
print(full_name)

JohnDoe

In [59]:
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name
print(full_name)

John Doe

### Using Variables in a Calculation

In [64]:
length = 10
width = 20
area = length*width
print(area)

200

### Reassigning Values to Variables

In [68]:
x = 10 
print(x)

10

In [70]:
x = 20
print(x)

20

In [72]:
a = 50
b = 60
a
b

60

In [74]:
a = 10
b = 20
print(a)
print(b)

10
20

In [76]:
print(40)
print(10, 20, 30)
print(40, 60, 1.6, "number")

40
10 20 30
40 60 1.6 number

In [78]:
num1 = 10
num2 = 30
add = num1+num2
print(add)

40

### Print result with String

In [85]:
num1 = 60
num2 = 50
add = num1+num2
print("The addition of", num1, "and", num2, "is=", add)

The addition of 60 and 50 is= 110

In [87]:
num3 = 80
num4 = 50
mul = num3*num4
print("The mul of", num3, "and", num4, "is=", mul)

The mul of 80 and 50 is= 4000

### Print format method

In [12]:
num1 = 30
num2 = 60
add = num1+num2
print('The addition of {} and {} is = {}'.format(num1,num2,add))

The addition of 30 and 60 is = 90

In [14]:
num1 = 100
num2 = 50
sub = num1-num2
print('The sub of {} and {} is = {}'.format(num1,num2,sub))

The sub of 100 and 50 is = 50

In [16]:
name = 'Python'
age = 20
city = 'Hyderabad'
print('Hellow I am {}, and My age is {} and I am from {}'.format(name,age,city))

Hellow I am Python, and My age is 20 and I am from Hyderabad

In [37]:
num1 = 100
num2 = 25
num3 = 333
avg = (num1+num2+num3)/3
avg1 = round((num1+num2+num3)/3,2)
print('The avrage of {}, {},and {} is= {} or {}'.format(num1,num2,num3,avg,avg1))

The avrage of 100, 25,and 333 is= 152.66666666666666 or 152.67

In [35]:
num1 = 60
num2 = 70
add = num1+num2
print(f'The addition of {num1} and {num2} is = {add}')

The addition of 60 and 70 is = 130

In [39]:
num1 = 200
num2 = 50
num3 = 333
avg = (num1+num2+num3)/3
avg1 = round((num1+num2+num3)/3,2)
print(f'The avrage of {num1}, {num2},and {num3} is= {avg} or {avg1}')

The avrage of 200, 50,and 333 is= 194.33333333333334 or 194.33

In [43]:
name = 'Python'
age = 20
city = 'Hyderabad'
print(f'Hellow I am {'Python'}, and My age is {20} and I am from {'Hyderabad'}')

Hellow I am Python, and My age is 20 and I am from Hyderabad

In [55]:
num1 = 60
num2 = 50
add = num1+num2
print('The addition of', num1, 'and', num2,'is=', add)
print(f'The addition of {num1} and {num2} is= {add}')
print('The addition of {} and {} is= {}'.format(num1,num2,add))

The addition of 60 and 50 is= 110
The addition of 60 and 50 is= 110
The addition of 60 and 50 is= 110

### end statement

In [58]:
print('Hello')
print('Good Morning')

Hello
Good Morning

#### Here usig end statement

In [72]:
print('Hello', end=  ' ') 
print('Good Morning')

Hello Good Morning

### Seprator

In [76]:
print('Hello', 'How r you', 'What are you doing', sep='--->')

Hello--->How r you--->What are you doing

In [78]:
print('Hello', 'How r you', 'What are you doing', sep='&')

Hello&How r you&What are you doing

In [80]:
print('hello', 'hi', 'how r u', sep='&')

hello&hi&how r u

In [1]:
print('hello', 'hi', 'how r u', sep='@')

hello@hi@how r u

In [3]:
print('hello', 'hi', 'how r u', sep=' ')

hello hi how r u